body{
    margin: 0px;
}


h1{
    font-size: 60px;
}

.n-highlight{

    color: brown;
}
.width-half{

    width: 40%;
    float: left;
    padding: 2%;
    margin-left: 4%;
    
}

.width-half img{

    width: 100%;
}

.top{

    background-image: url("pictures/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 400px;
    padding-bottom: 150px;
}

.button-link{
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(35deg, lightsalmon, tomato
    );
    color: white;
    padding: 10px 20px;
    font-weight: 1000;
}

.middle{

    background-image: url("pictures/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
    
    
}

.box{

    box-shadow: 10px 10px 35px gray;
    background-color: white;
}

#l-box{

    border-left: 6px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#r-box{

    border-left: 6px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

.bottom{

    background-image: url("pictures/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
}

footer p{

    text-align: center;
    font-size: 15px;
}